@charset "UTF-8";
.box{
	width: 700px;
	margin:auto;
	margin-top:20px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.title{
	text-align: center;
	border-bottom:1px solid black;
	padding:20px;
	border-radius:20px 20px 0 0;
	margin:0;
	background-color: #eeeeee;
}

.contents{
	padding:20px;
	padding-top:0;
	padding-bottom:0;
}

.address{
	border-bottom:1px solid black;
}

.address_title{
	display:flex;
	align-items: center;
}

.address_title_link{
	margin-left:auto;
	color:black;
}

.price-box{
	border-bottom:1px solid black;
	display:flex;
}

.price{
	margin-left:auto;
}
.form-area{
	height: 70px;
	display: flex;
	align-items: center;
}
.btn{
	width: 130px;
	height:40px;
	padding: 4px 12px;
 	background-color: #2196F3;
	color: white;
	border: none;
 	border-radius: 4px;
	cursor: pointer;
	margin:auto;
}


.mes{
	color:red;
}