@charset "UTF-8";

header{
	background-color: rgb(34, 33, 35);
	height: 100px;
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 0;
}
#header-div {
	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.header-btn {
    aspect-ratio: 1 / 1;       
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;

    -webkit-appearance: none;
    appearance: none;
}
#icon{
	width: 15%;
	height: 100%;
	display: flex;
	align-items: center;
}

#icon img{
	width: 250px;
	height: 50px; 
}

#menu-btn {
	height: 100%;
    background-color: rgb(34, 33, 35);
    color: white;
    font-size: 60px;
}

#search{    
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
	height: 60%;
	width: 50%;
	display: flex;
	margin:0;
}

#search-type{
	border-radius: 30px 0 0 30px;
	font-size: 16px;
	text-align-last: center;
}

#search-type option{
	text-align: left;
}

#search-area{
	border-right: none;  
	flex: 1;
    min-width: 0;
    -webkit-appearance: none;
    appearance: none;
	font-size: 20px;
    border: 1px solid #ccc;
    box-shadow: none;
}

#search-btn {
    background-image: url("../image/material/search.png");
    background-color: rgb(73, 73, 73);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 25px;
    border-radius: 0 30px 30px 0;
}

#cart-btn{
	height: 100%;
	margin-left: auto;
	position: relative;
}
.overlay-text {
    position: absolute;
    top: 47%;         
    left: 57%;        
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#menu-box {
	position: fixed;
	top: 100px;
	left: -270px; /* 初期状態は画面外に隠す */
	width: 220px;
	height: 100%;
	padding-left: 50px;
	background: rgb(34, 33, 35);
	transition: left 0.3s ease; /* スライドするアニメーション */
	z-index: 1001;
}

#menu-box a{
	color:white;
	font-size:24px;
}

#menu-box.active{
	left:0px;
}

#overlay {
	display: none;
	position: fixed;
	top: 100px;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1000;
}

#overlay.active {
	display: block;
}
