@charset "UTF-8";
body{
	display:flex;
	flex-direction: column;
	margin:0;
	/*background-color: antiquewhite;*/
	height: auto;
}
html{
	margin:0;
	height: auto;
}

.parent{
	width: 1700px;
	height: auto;
	margin: auto;
	padding-bottom: 20px;;
}