@charset "UTF-8";
body{
	display:flex;
	flex-direction: column;
	margin:0;
	/*background-color: antiquewhite;*/
	height: auto;
}
html{
	margin:0;
	height: auto;
}

.parent{
	width: 1700px;
	height: auto;
	background-color: antiquewhite;
	margin: auto;
	border-right:1px solid black;
	border-left:1px solid black;	
	padding-bottom: 50px;;
}