@charset "UTF-8";
#book_img {
	width:auto;
	height:100%;
	display:block;
	margin: auto;
}

#book_img_area {
	height: 55%;
	background-color: aquamarine;
}

#book_text_area {
	height: 40%;
	width: 95%;
	background-color: antiquewhite;
	display:block;
	margin: auto;
}

#book {
	width: 18%;
	aspect-ratio: 3/4;
	background-color: cornflowerblue;
	margin: 10px;
	border: 1px solid black;
	border-radius : 8px;
	padding-top:8px ;
}

#parent {
	display:flex;
	width: 2000px;
	margin: auto;
	background-color: cadetblue;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	flex-wrap: wrap;
}

#title {
	font-size: 20px;
}

#price {
	font-size:20px;
	color:darkred;
}

body{
	display:flex;
	flex-direction: column;
}