@charset "UTF-8";
.book_img {
	width:auto;
	height:100%;
	display:block;
	margin: auto;
}

.book_img_area {
	height: 60%;
	background-color: rgb(255, 255, 255);
	border-radius: 8px 8px 0 0;
	border-bottom: none;
}

.book_text_area {
	height: 40%;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
	background-color: rgb(255, 255, 255);
	border-radius: 0 0 8px 8px;
	border-top: none;
}

.book {
	width: 18%;
	aspect-ratio: 3/4;
	background-color: cornflowerblue;
	margin: 10px;
	border: 1px solid black;
	border-radius : 8px;
}

#parent {
	display:flex;
	width: 1500px;
	margin: auto;
	justify-content: space-between;
	flex-wrap: wrap;
}

.title {
	font-size: 1em;
	margin:0;
}



.auther{
	margin-top:0.5rem;
	margin-bottom:0.5rem;
}

.price {
	font-size:1.5em;
	color:rgb(0, 0, 0);
	margin-top:0.5rem;
	margin-bottom:0.5rem;
}

body{
	display:flex;
	flex-direction: column;
	margin:0;
	background-color: rgb(73, 73, 73);
}
html{
	margin:0;
}
